@import 'variable';

@media only screen and (max-width: 768px) {
  header {
    .img-logo {
      width: 300px;
      height: 61.74px;
    }
  }

  .banner {
    height: 350px;

    ul {
      margin: -10% 0 0 -1%;
    }

    .title,
    .title.medium {
      font-size: 30px;
      line-height: 37px;
    }

    .text,
    .text-btn {
      font-size: 16px;
      line-height: 20px;
    }

    .text-btn {
      padding: 7px 27px !important;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);

      &:hover {
        font-size: 17px;
        padding: 8px 27px !important;
        box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
      }
    }

    .img-cu {
      width: 29px;
      height: 26px;
    }
  }
}

@media only screen and (max-width: 425px) {
  header {
    .img-logo {
      margin-left: -11%;
      width: 150px;
      height: 30px;
    }
    
    .nav-link {
      font-size: 16px;
      line-height: 22px;
      &:hover {
        color: $primary_color !important;
        font-size: 18px;
        @include primaryBtn(#FFFFFF, 10px 12px, none, 17px);
      }
    }
  }
  
  .banner {
    height: 435px;
    background-size: 100% 46%;
    background-position: center top;

    ul {
      margin: 54% 0 0 8%;
    }

    .title,
    .title.medium {
      font-size: 25px;
      line-height: 31px;
    }

    .text {
      margin-top: 3%;
      font-size: 16px;
      line-height: 20px;
    }

    .text-btn {
      margin-top: 1%;
      margin-left: -2%;
      font-size: 18px;
      line-height: 22px;
      padding: 8px 55px !important;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);

      &:hover {
        font-size: 19px;
        padding: 7px 55px !important;
        box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
      }
    }

    .img-cu {
      width: 29px;
      height: 26px;
    }
  }
}
