@import 'variable';

* {
  list-style-type: none;
  list-style: none;
  a {
    text-decoration: none;
  }
}

header {
  .navbar-toggler.collapsed .close-icon {
    display: none;
  }
  
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
  }
  
  .nav-link {
    text-transform: uppercase;
    @include text(bold 14px/19px 'Open Sans', #505353);
    @include primaryBtn(transparent, 10px 12px, none, 17px);
    
    &:hover {
      color: #FEFFFF !important;
      background-color: $primary_color !important;
    }
  }
  
  .img-logo {
    width: 340px;
    height: 70px;
  }
}

.banner {
  background: url('../image/hapo_learn_banner.png') no-repeat center/cover;
  height: 655px;
	
  .title {
    letter-spacing: -0.05em;
    @include text(50px/61px 'UTM BryantLG', $title_text_color);
  }
	
  .title.medium {
    font-weight: bold;
    -webkit-text-stroke: 1px #11114E;
  }
	
  .text {
    letter-spacing: -0.05em;
    @include text(20px/25px 'UTM BryantLG', $pri_text_color);
  }
	
  .text-btn {
    text-decoration: none;
    letter-spacing: -0.05em;
    -webkit-text-stroke: 0.3px #FFFFFF;
    opacity: 1;
    transition: 0.3s;
    @include text(bold 30px/37px 'UTM BryantLG', #FFFFFF);
    @include primaryBtn($primary_color, 10px 50px, inset 0px 4px 4px rgba(0, 0, 0, 0.25), 35px);
    
    &:hover {
      font-size: 31px;
      opacity: 0.9;
      padding: 13px 50px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
	
  .img-cu {
    width: 54px;
    height: 48px;
  }
}

@import 'responsive';
