$primary_color : #B2D235;

@font-face {
  font-family: 'UTM BryantLG';
  src: url('../font/UTM_BryantLG.ttf');
}

@mixin text($font, $color) {
  font: $font;
  color: $color; 
}

@mixin primary-btn($bg-color, $padding, $shadow, $border-radius) {
  background-color: $bg-color;
  padding: $padding;
  box-shadow: $shadow;
  border-radius: $border-radius;
  transition: 0s;
  text-align: center;
}
